---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Stats from '../components/Stats.astro';
import About from '../components/About.astro';
import FeaturedProjects from '../components/FeaturedProjects.astro';
import BlogPreview from '../components/BlogPreview.astro';
---

<Layout title="Home - Otacho Christian Children Home">
	<Header />
	<main>
		<Hero />
		<Stats />
		<About />
		<FeaturedProjects />
		<BlogPreview />
	</main>
	<Footer />
</Layout>


